body {
  background-image: url("images/wallpaper.gif");
  background-color: #595959;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  height: 500px;
  position: relative;
}

button {
  background-color: transparent;
  color:white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

#content {
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  width: 900px;
}

#greeting-container {
  color:white;
  margin-top: 20px;
}

#map {
  border: thin solid black;
  height: 500px;
  width: 500px;
}
